parameters:
    level: max
    paths:
        - src

    checkMissingIterableValueType: false

    earlyTerminatingMethodCalls:
        demo\BinPackingApi\PackingApi:
            - handleApiError

includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon